.contenido {
  display: grid;
  align-items: center;
  gap: 5rem;
}
@media (min-width: 768px) {
  .contenido {
    grid-template-columns: 3fr 2fr;
  }
}
.carrito {
  padding: 3rem 0;
}
.producto {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 4rem;
  align-items: center;
  padding: 3rem 0;
  border-bottom: 1px solid #cfcfcf;
}
.producto:last-of-type {
  border: none;
}
.producto p {
  margin: 0 0 1rem 0;
}
.producto span {
  font-weight: 900;
  font-size: 3.2rem;
}
.resumen {
  background-color: #f9fafb;
  padding: 3rem;
  border-radius: 1rem;
}
.nombre {
  font-weight: 700;
  font-size: 4.2rem;
}
.divCantidad {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}
.precio {
  margin-top: 2rem;
  font-weight: 700;
  color: var(--primary);
}
.subtotal {
  font-size: 2.2rem;
}
.select {
  all: unset;
  border: 1px solid var(--black);
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
